.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 42, 75);
    color: white;
    text-align: center;
    float: right;
    width: calc(100% - 260px);
 }